/* ******************** BODY ******************** */
body {

	background: url("img/wallpaper.png") fixed no-repeat center;
	background-size: cover;
	padding-top: 110px;
}

/* ******************** HEADER ******************** */
header {
	margin: auto;
	background: url("img/background.jpg") repeat;
	background-color: rgba(0, 0, 0, 1);
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	min-width: 500px;
}

/* Titre */
#title h1 {
	text-align: center;
	font-family: "20_dbregular", impact, "Arial Black", Arial, Verdana ;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px black, 0 0 20px white, 0 0 5px rebeccapurple;
	white-space:nowrap;
}

/* Navigation */
#nav {
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 10px;

}

#nav li {
	min-width: 120px;
	text-align: center;
	padding: 8px 0;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;

}

#nav a {
	text-decoration: none;
}

#nav a:hover {
	font-size: 1.1em;

}
#nav li:hover {
	transition: 1s;
	background: rgba(250, 0, 0, 0.4);
	border-radius: 30px 10px;
	box-shadow: 5px white;

}


/* ******************** PAGE / CONTENU ******************** */

#page {
	padding: 10px;
	min-width: 480px;
}

/*  WELCOME  */

#welcomecont {
	min-width: 500px;
}
#welcomecont h1 {
	font-size: 1.5em;

}

#welcomecont p {
	font-size: 1em;
}

#welcomeconte .welcomet p {
	font-size: 1.5em;
	text-shadow: 5px 5px 10px white;
}

.section .img {
	max-height: 250px;

}

.section h1 {
	font-family: "20_dbregular", impact, "Arial Black", Arial, Verdana ;
	font-size: 1.5em;
	font-weight: bolder;
}

.section p {
	text-align: justify;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1.2em;
	font-style: italic;
}
.section p:nth-child(1) {
	text-align: center;

}

/*  SECTIONS 1/2  */
.section:nth-child(2n+1) .img {
	float: none;
	margin-left: 0px;

}

.section:nth-child(2n+1) h1 {
	text-align: center;
}


/*  SECTIONS 2/2  */
.section:nth-child(2n+0) .img {
	float: none;
	margin-right: 0px;

}

.section:nth-child(2n+0) h1 {
	text-align: center;
}

/* ******************** BUY TICKET ******************** */

#buyticket {
	background: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	max-width: 1000px;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;

}
.buy input, select, select option{
		color: black;
}
.buy {
	max-width: 500px;
	padding: 30px;
	margin: auto;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
	color: white;
	display: inline-block;
	vertical-align:top;

}
.buy h1 {
	font-family: "20_dbregular", impact, "Arial Black", Arial, Verdana ;
	font-size: 1.3em;
	color: white;
}

.buy p {
	color: white;
	text-align: justify;
}

.buy form p {
	padding-left: 10px;
}

.buy form label {
		color: white;
}


.buy select {
	width: 200px;
	font-size: 1em;
	padding: 10px;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
	margin-top: 10px;
}

.buy input[type=submit] {
	width: 100px;
	font-size: 0.8em;
	padding: 10px;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
	margin-top: 10px;
}


/* ******************** FOOTER ******************** */

/* Global */
footer{
	min-width: 500px;
	font-size: 1em;
}

#fotter_contener {
	display: block;
	padding: 10px 0;
	max-width: 1040px;
	margin: auto;
}

/* Compart */
.fcontener_div {
	border-right: none;
	border-left: none;
	text-align: center;
	margin: 10px;
	padding: 10px 0;
	flex: 1;
	background-color: rgba(255, 255, 255, 0.1);
}

/* TEXT */

.fcontener_div h1{
	font-size: 1.2em;
	padding-bottom: 5px;
	margin-bottom: 10px;

}

#fotter_contener a {
	text-decoration: none;
}

/* ABOUT */

/* MAILING */

input[placeholder], [placeholder], *[placeholder] {
    color: black;
}

input[type=email] {
    width: 80%;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 2px;
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
}

#mailing input[type=submit] {
    width: 50%;
    background-color: white;
    font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 2px;

    cursor: pointer;
}

#mailing input[type=submit]:hover {
    background-color: rgba(220,220,220,1);
    cursor: pointer;
}

/* ROBOZZLE */
#Robozzle img {
	width: 50px;
	border-radius: 15px;
}

/* SOCIAL © http://fontawesome.io/*/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8em;
  margin: 10px;
}

.fa:hover {
	color: red;
}

.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-linkedin:before {
  content: "\f0e1";
}


/* ******************** COPYRIGHT ******************** */
#copyright{
	display: inline-block;
	height: 20px;
	width: 100%;
	min-width: 500px;
	background-color: rgba(0, 0, 0, 1);
	font-family: existencelight, 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
}