/* ******************** FONT FACE ******************** */

/* ******************** BODY ******************** */
body {

	padding-top: 110px;
}
/* ******************** ALL ******************** */

/* ******************** BODY ******************** */

/* ******************** HEADER ******************** */
header {
	height: 100px;
	min-width: 500px;
}

/* Titre */
#title h1 {
	white-space:nowrap;
	font-size: 2.5em;
}

/* Navigation */

#nav li {
	min-width: 120px;
	padding: 8px 0;
}

#nav a:hover {
	font-size: 1.1em;

}
#nav li:hover {
	box-shadow: 5px white;
}


/* ******************** PAGE / CONTENU ******************** */

#page {
	padding: 10px;
	min-width: 480px;
}

/*  WELCOME  */

#welcomecont {
	min-width: 500px;
}

#welcomecont h1 {
	font-size: 1.5em;
}

#welcomecont p {
	font-size: 1em;
}


/*  SECTIONS  */
.section .img {
	max-height: 250px;

}

.section p:nth-child(1) {
	text-align: center;
}

/*  SECTIONS 1/2  */
.section:nth-child(2n+1) .img {
	float: none;
	margin-left: 0px;
}

.section:nth-child(2n+1) h1 {
	text-align: center;
}

/*  SECTIONS 2/2  */
.section:nth-child(2n+0) .img {
	float: none;
	margin-right: 0px;
}

.section:nth-child(2n+0) h1 {
	text-align: center;
}


/* ******************** BUY TICKET ******************** */
.buy {
	padding: 30px;

}
.buy h1 {
	font-size: 1.3em;
}

.buy input[type=submit] {
	font-size: 0.8em;
}


/* ******************** FOOTER ******************** */

/* Global */
footer{
	min-width: 500px;
}

#fotter_contener {
	display: block;
	padding: 10px 0;
	margin: auto;
}

/* Compart */
.fcontener_div {
	border-right: none;
	border-left: none;
	margin: 10px;
}

/* TEXT */
/* ABOUT */
/* MAILING */


/* ******************** COPYRIGHT ******************** */
#copyright{
	min-width: 500px;
}